config RT_REGMAP
	tristate "Richtek Regmap Part"
	help
	  Say Y to enable Richtek regmap
	  Interface for register debug node and ops.
	  This config decide to use regmap easy
	  for debug in RT chip.
