
config MTK_LTR578
	tristate "LTR578 for MediaTek alsps package"
	default n
	help
	  Support for ROHM LTR578 ALS.

config ALS_RAW_SUPPORT
	bool "LTR578 Store Raw Lux Data"
	default n
	help
	  SUPPORT CONTROL LTR578 TO STORE RAW LUX DATA
